<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>OnlyFish: Login</title>
	<link href="css/feed.css" rel="stylesheet" type="text/css" />
</head>
  <body>
     <div class="wrapper">
        <h1>The Lake</h1>
        <div class="grid">
            <div class="grid-item">
                <figure>
                    <!--space holder for image-->
                    <p>The user can put whatever they want to say here.</p>
                    <span>User Title</span>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                   <!--space holder for image-->
                    <p>The user can put whatever they want to say here.</p>
                    <span>User Title</span>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                  <!--space holder for image-->
                    <p>The user can put whatever they want to say here.</p>
                    <span>User Title</span>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <!--space holder for image-->
                    <p>The user can put whatever they want to say here.</p>
                    <span>User Title</span>
                </figure>
            </div>
            <div class="grid-item">
                <figure><!--<div id="sidebar"-->
                   
                    <!--space holder for image-->
                    <p>The user can put whatever they want to say here.</p>
                    <span>User Title</span>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                   <!--space holder for image-->
                    <p>The user can put whatever they want to say here.</p>
                    <span>User Title</span>
                </figure>
            </div>
            <div class="grid-item">
                <figure><!--<div id="sidebar"-->
                   
                   <!--space holder for image-->
                    <p>The user can put whatever they want to say here.</p>
                    <span>User Title</span>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <!--space holder for image-->
                    <p>The user can put whatever they want to say here.</p>
                    <span>User Title</span>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                   <!--space holder for image-->
                    <p>The user can put whatever they want to say here.</p>
                    <span>User Title</span>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                   <!--space holder for image-->
                    <p>The user can put whatever they want to say here.</p>
                    <span>User Title</span>
                </figure>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>