<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/pond.css" rel="stylesheet" type="text/css" />
  <title>Your Profile Page: AKA "The Pond"</title>
 </head> 
<body>
   <div class="wrapper">
    <div class="img-area">
      <div class="inner-area">
        <img src="https://thumbs-prod.si-cdn.com/qXrJJ-l_jMrQbARjnToD0fi-Tsg=/800x600/filters:no_upscale()/https://public-media.si-cdn.com/filer/d6/93/d6939718-4e41-44a8-a8f3-d13648d2bcd0/c3npbx.jpg" alt="">
      </div>
    </div>
   
    <div class="name">Poiseidon F. Puffer</div>
    <div class="about"> <i class="fa fa-desktop" aria-hidden="true"></i> 
  CODER,DESIGNER,DEVELOPER, FLOUNDER
          <br><i class="fa fa-building" aria-hidden="true"></i> Under the Sea Group             
    </div>
    
    <div class="buttons">
      <button>Message</button>
      <button>Subscribe</button>
    </div>
    <div class="social-share">
      <div class="row">
        <i class="far fa-heart"></i>
        <i class="icon-2 fas fa-heart"></i>
        <span>20.4k</span>
      </div>
      <div class="row">
        <i class="far fa-comment"></i>
        <i class="icon-2 fas fa-comment"></i>
        <span>14.3k</span>
      </div>
      <div class="row"><!--                                                                                                                                    /*position: relative;width: 350px;padding: 30px;border-radius: 10px;display: flex;align-items: center;justify-content: center;flex-direction: column;}wrapper .icon{font-size: 17px;olor: #31344bposition: absolutecursor: pointer*/-->
        <i class="fas fa-share"></i>
        <span>12.8k</span>
      </div>
    </div>
  </div>
 <div class="wrapper wrapper2">
      <span>User's Profile</span>
      <p> PUT IN STUFF HERE </p>
      <p> THIS COULD BE A POST </p>
      <p>LALALALA</p>
      <p>ETC ETC ETC</p>
    </div>
    <script src="js/main.js"></script>
</body>
</html>