<!-- -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Only Fish View Post Page</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>Only Fish: Viewing Post <%= id %></h1>
    <form action="/post/<%= id %>" method="POST">
      <input type="hidden" name="_method" value="PUT">
      <button>Edit</button>
    </form>
    <form action="/post/<%= id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button>Delete</button>
    </form>
    <form action="/post/<%= id %>/like" method="POST">
      <input type="hidden" name="_method" value="PUT">
      <button>Like!</button>
    </form>
  </body>
</html>